{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}

{% block header %}
<header id="header" class="site-header">
  <div class="top-info border-bottom d-none d-md-block">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-md-4">
          <p class="fs-6 my-2 text-center">
            คลีนิคทันตกรรม ฝ้ายฟ้า น้ำพอง ติดต่อเรา <a href="#">081999-1111</a>
          </p>
        </div>
        <div class="col-md-4 border-start border-end">
          <p class="fs-6 my-2 text-center">
            โปรโมชั่นรับหน้าร้อน ลด 60%!
            <a class="text-decoration-underline" href="#">จัดเลย</a>
          </p>
        </div>
        <div class="col-md-4">
          <p class="fs-6 my-2 text-center">
            2-3 วันคุณจะได้รับสินค้าแน่นอน
            และไม่มีค่าใช้จ่ายในการส่งสินค้ากลับ
          </p>
        </div>
      </div>
    </div>
  </div>

  <nav id="header-nav" class="navbar navbar-expand-lg py-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" />
      </a>
      <button
        class="navbar-toggler d-flex d-lg-none order-3 p-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#bdNavbar"
        aria-controls="bdNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg class="navbar-icon">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="bdNavbar"
        aria-labelledby="bdNavbarOffcanvasLabel"
      >
        <div class="offcanvas-header px-4 pb-0 ms-4">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" />
          </a>
          <button
            type="button"
            class="btn-close btn-close-black"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-bs-target="#bdNavbar"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="user-items">
            <ul class="list-unstyled ms-4 mb-0">
              <li class="d-flex pe-3 text-end">
                (สำหรับเจ้าหน้าที่)
                <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <svg class="user ms-2">
                    <use xlink:href="#user"></use>
                  </svg>
                </a>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="tabs-listing">
                          <form method="post" action="{{ url_for('registration') }}">
                          <nav>
                            <div
                              class="nav nav-tabs d-flex justify-content-center"
                              id="nav-tab"
                              role="tablist"
                            >
                              <button
                                class="nav-link text-uppercase active"
                                id="nav-sign-in-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-sign-in"
                                type="button"
                                role="tab"
                                aria-controls="nav-sign-in"
                                aria-selected="true"
                              >
                                Log In
                              </button>
                              <button
                                class="nav-link text-uppercase"
                                id="nav-register-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-register"
                                type="button"
                                role="tab"
                                aria-controls="nav-register"
                                aria-selected="false"
                              >
                                Register
                              </button>
                            </div>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                            <div
                              class="tab-pane fade active show"
                              id="nav-sign-in"
                              role="tabpanel"
                              aria-labelledby="nav-sign-in-tab"
                            >
                              <div class="form-group py-3">
                                <label class="mb-2" for="sign-in"
                                  >Username or Email address *</label
                                >
                                <input
                                  type="text"
                                  minlength="2"
                                  name="login-username"
                                  id="login-user"
                                  placeholder="Your Username"
                                  class="form-control w-100 rounded-3 p-3"
                                />
                              </div>
                              <div class="form-group pb-3">
                                <label class="mb-2" for="sign-in"
                                  >Password *</label
                                >
                                <input
                                  type="password"
                                  minlength="2"
                                  name="login-password"
                                  id="login-pass"
                                  placeholder="Your Password"
                                  class="form-control w-100 rounded-3 p-3"
                                />
                              </div>
                              <button
                                type="submit"
                                name="login-submit"
                                id="login-sub"
                                value="login"
                                class="btn btn-dark w-100 my-3"
                              >
                                Login
                              </button>
                            </div>

                            <div
                              class="tab-pane fade"
                              id="nav-register"
                              role="tabpanel"
                              aria-labelledby="nav-register-tab"
                            >
                              <div class="form-group py-3">
                                <label class="mb-2" for="register"
                                  >Your employee ID *</label
                                >
                                <input
                                  type="text"
                                  minlength="2"
                                  name="register-username"
                                  id="register-user"
                                  placeholder="Your Employee ID"
                                  class="form-control w-100 rounded-3 p-3"
                                />
                              </div>
                              <div class="form-group pb-3">
                                <label class="mb-2" for="sign-in"
                                  >Password *</label
                                >
                                <input
                                  type="password"
                                  minlength="2"
                                  name="register-password"
                                  id="register-pass"
                                  placeholder="Your Password"
                                  class="form-control w-100 rounded-3 p-3"
                                />
                              </div>
                              <div class="form-group pb-3">
                                <label class="mb-2" for="sign-in"
                                  >Confirm Password *</label
                                >
                                <input
                                  type="password"
                                  minlength="2"
                                  name="confirm-password"
                                  id="confirm-pass"
                                  placeholder="Your Password"
                                  class="form-control w-100 rounded-3 p-3"
                                />
                                <span id="passwordError" class="error"></span>
                              </div>
                              <label class="py-3">
                                <input
                                  type="checkbox"
                                  name="policy"
                                  id="policy"
                                  class="d-inline"
                                />
                                <span class="label-body"
                                  >I agree to the
                                  <a href="#" class="fw-bold"
                                    >Privacy Policy</a
                                  ></span
                                >
                              </label>
                              <button
                                type="submit"
                                name="register-submit"
                                id="register-sub"
                                value="registration"
                                class="btn btn-dark w-100 my-3"
                              >
                                Register
                              </button>
                            </div>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block content %}
<section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray mb-4" style="background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
      <svg class="chevron-forward-circle d-flex justify-content-center align-items-center border rounded-3 p-2" width="55" height="55">
        <use xlink:href="#alt-arrow-right-outline"></use>
      </svg>
    </div>
    <div class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
      <svg class="chevron-back-circle d-flex justify-content-center align-items-center border rounded-3 p-2" width="55" height="55">
        <use xlink:href="#alt-arrow-left-outline"></use>
      </svg>
    </div>
    <div class="swiper main-swiper">
      <div class="swiper-wrapper d-flex align-items-center">
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
              <div class="col-md-5 offset-md-1">
                <div class="banner-content">
                  <h2>คลีนิคทันตกรรม ฝ้ายฟ้า</h2>
                  <p>น้ำพอง</p>
                  <a href="#" class="btn mt-3">เลือกดูสินค้า และโปโมชั่น</a>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div class="image-holder">
                  <img src="{{ url_for('static', filename='images/dental-hero1.jpg') }}" class="img-fluid" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
              <div class="col-md-5 offset-md-1">
                <div class="banner-content">
                  <h2>Iphone 15 Pro Max</h2>
                  <p>Discount available. Grab it now!</p>
                  <a href="#" class="btn mt-3">Shop Product</a>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div class="image-holder">
                  <img src="{{ url_for('static', filename='images/dental-hero2.jpg') }}" class="img-fluid" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
              <div class="col-md-5 offset-md-1">
                <div class="banner-content">
                  <h2>Macbook Collection</h2>
                  <p>Limited stocks available. Grab it now!</p>
                  <a href="shop.html" class="btn mt-3">Shop Collection</a>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div class="image-holder">
                  <img src="{{ url_for('static', filename='images/dental-hero3.jpg') }}" class="img-fluid" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
